html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }
  
  #board {
    width: 290px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 161);
    transition: background-color 400ms;
  }

  #board.correct {
    background-color: lightseagreen;
  }

  #board.initial {
    pointer-events: none;
  }


  #board li {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    margin: 6px;
    list-style: none;
    border-radius: 6px;
    background-color: oldlace;
    cursor: pointer;
    box-shadow: 10px 10px 10px -10px;

  }

  #board li.correct {
    pointer-events: none;
  }
  
  #start {
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: mediumseagreen;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 20px 10px 20px -15px;
    border: none;
  }

  span {
    width: 315px; 
    height: 30px; 
    display: flex;
      justify-content: space-between;
      /* border: 1px solid black; */
  }

  div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }

  timer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }

