html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUBESGyaOWQJlmR8RVYDGX5yHD1Bo7HoioNw&usqp=CAU"); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdE1zwHJbdgoN4Th6GNyavxvKQqh4ZVjUkvg&usqp=CAU");
    background-size: cover;
    background-position: center;

  }

  h1 {

    font-size: 36px;
    margin: 5px;
  }
  
  #board {
    width: 290px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 161);
    transition: background-color 400ms;
  }

  #board.correct {
    background-color: lightseagreen;
  }

  #board.initial {
    pointer-events: none;
  }


  #board li {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    margin: 6px;
    list-style: none;
    border-radius: 6px;
    background-color: oldlace;
    cursor: pointer;
    box-shadow: 10px 10px 10px -10px;

  }


  #board li.open {
    pointer-events: none;
  }

  #board li.correct {
    pointer-events: none;
  }
  
  #start {
    margin: 10px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: mediumseagreen;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 20px 10px 20px -15px;
    border: none;
  }


  #start:active {
    cursor: grab;
    transform: scale(0.9);
  }

  span {
    width: 315px; 
    height: 30px; 
    display: flex;
      justify-content: space-between;
      user-select: none;
      /* border: 1px solid black; */
  }

  div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    /* user-select: none; */
  }

  timer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }

